<div id="root"></div>
<!-- BUNDLE_START -->
<%= content_for :head do %>
<script type="module" defer src="/assets/channels-AUFUELBV.js"></script>
<link rel="modulepreload" href="/assets/common-LFJOBFX5.js">
<link rel="modulepreload" href="/assets/common-WQA54URB.js">
<link rel="modulepreload" href="/assets/common-7Z52CFTE.js">
<% end %>
<!-- BUNDLE_END -->