<div id="root"></div>
<!-- BUNDLE_START -->
<%= content_for :head do %>
<script type="module" defer src="/assets/check-email-AL6HE33W.js"></script>
<link rel="modulepreload" href="/assets/common-FA2U6IHH.js">
<link rel="modulepreload" href="/assets/common-YNUYCDLH.js">
<link rel="modulepreload" href="/assets/common-JTL7OJE5.js">
<% end %>
<!-- BUNDLE_END -->