<div id="root"></div>
<!-- BUNDLE_START -->
<%= content_for :head do %>
<script type="module" defer src="/assets/forgot-password-AL7F4TOP.js"></script>
<link rel="modulepreload" href="/assets/common-K3GH6YJX.js">

<% end %><!-- BUNDLE_END -->