<div id="root"></div>
<!-- BUNDLE_START -->
<%= content_for :head do %>
<script type="module" defer src="/assets/sign-up-LYL2GL5Z.js"></script>
<link rel="modulepreload" href="/assets/common-DFLT6BQO.js">
<link rel="modulepreload" href="/assets/common-6IEWRQHI.js">
<% end %>
<!-- BUNDLE_END -->