<p class="m-2"><strong><%= chat.sender.name %></strong>:
	<video controls width="280" height="auto">
		<source src="<%= url_for(chat.file_attachment) %>" type="video/mp4">
	Your browser does not support the video tag.
	</video>
</p>