<div class="shrink-0 grow-0 sticky bottom-0 flex flex-col gap-3 bg-white px-4 pb-4" 
			data-controller="chat-input"
		 	data-chat-input-room-id-value="<%= @room.id %>"
			data-chat-input-chats-outlet="[data-controller=chats]">
	<div class="flex flex-col border border-stone-400 p-2 gap-1 rounded-xl">
		<textarea data-chat-input-target="textInput" class="w-full resize-none outline-none" rows="2" placeholder="Type your message here..."
							data-action="keydown->chat-input#handleEnterOnTextInput"></textarea>
		<div class="flex justify-between items-center">
			<button data-action="click->chat-input#handleTextInputSend">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 16 16" width="22" height="22" fill="none" stroke="currentColor"
						 stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="charm charm-arrow-up-right">
					<path d="m5.25 4.25h6.5v6.5m-7.5 1 7.5-7.5"></path>
				</svg>
			</button>
		</div>
	</div>

	<!-- <turbo-frame id="create_file_form">
		<%= form_with model: @room, url: create_file_room_chats_path(@room), method: :post, html: { multipart: true }, data: { turbo: true } do |f| %>
		<%= f.file_field :file_attachment, direct_upload: true %>
		<progress value="0" max="100" data-room-target="uploadProgress" style="display: none;"></progress>
		<%= f.submit "Upload File" %>
		<% end %>
	</turbo-frame> -->
</div>