<%= render 'shares/modal_dialog', id: 'join-room-modal', title: 'Join Room' do %>
  <div class="space-y-6">
    <p class="text-gray-700">Do you want to send a join request for this room?</p>
    
    <div class="flex gap-3 w-full">
      <button id="join-room-yes" class="primary-button flex-1">
        Yes
      </button>
      <button data-action="modal#close" class="flex-1 bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-3 px-6 rounded-md cursor-pointer">
        No
      </button>
    </div>
  </div>
<% end %>
