<a class="w-8 h-8 mt-1.5 rounded-full shrink-0 overflow-hidden" href="#" id="<%= dom_id(user, :online_status) %>">
	<img src="<%= url_for(chat.sender.avatar) %>" alt="Avatar" class="w-full h-full object-cover grayscale">
</a>