<div class="px-4 overflow-auto">
	<div class="flex flex-col gap-4">
		<h2 class="text-2xl">My Rooms</h2>
		<% @joined_rooms.each do |room| %>
			<a href="<%= room_path(room) %>" class="block">
				<%= room.name %>
			</a>
		<% end %>
		<h2 class="text-2xl">Available Rooms</h2>
		<% @not_joined_rooms.each do |room| %>
			<a href="<%= room_path(room) %>" class="block">
				<%= room.name %>
			</a>
		<% end %>
	</div>
</div>
