<div id="chat-room" data-room-id="<%= @room.id %>" data-logged-in-user-id="<%= current_user.id %>"></div>

<% if @joined %>
<%= turbo_stream_from [ @room ] %>
<% end %>

<% content_for :footer do %>
<script type="module" src="/chat-room/index.js"></script>
<% end %>