<div id="chat-viewport" class="h-dvh px-4 overflow-auto" data-controller="room" data-chats-room-id-value="<%= @room.id %>">

	<div class="flex flex-col gap-2">
		<%= render partial: "rooms/show_member_list" %>

		<%= render partial: "rooms/show_chat_list" %>

		<%= render partial: "rooms/show_chat_input" %>
	</div>

</div>
