<% content_for :breadcrumb do %>
<%= @room.name %>
<% end %>

<% content_for :head do %>
<style>
	body {
		background: white;
	}
</style>
<% end %>

<div class="flex flex-col gap-5 p-4 bg-white" id="chats-container" data-controller="chats">
	<%= render partial: "rooms/chat", collection: @room.chats %>
</div>

<%= render partial: "rooms/chat_input" %>

<%= turbo_stream_from [ @room ] %>