<div data-controller="room">

	<h1><%= @room.name %></h1>

	<div data-controller="autoscroll">
		<%= turbo_stream_from @room, :chats %>
		<div id="room_chats">
			<%= render partial: "chats/chat" , collection: @room.chats %>
		</div>
	</div>

	<div>
		<input data-room-id="<%= @room.id %>" type="text" data-room-target="messageInput" data-action="keyup->room#handleChatInputKeyup" placeholder="Type your message here..." />
		<button data-action="click->room#handleSendButtonClick">Send</button>
	</div>
</div>