<%= json_script_tag @app_errors, id: 'server-errors' %>
<div id="root"></div>
<!-- BUNDLE_START -->
<%= content_for :head do %>
<script type="module" defer src="/assets/sign-in-FHSA3LQI.js"></script>
<link rel="modulepreload" href="/assets/common-QUCZ322L.js">
<link rel="modulepreload" href="/assets/common-B3G2OVCN.js">
<% end %>
<!-- BUNDLE_END -->