<%= json_script_tag @app_errors, id: 'server-errors' %>
<div id="root"></div>
<!-- BUNDLE_START -->
<%= content_for :head do %>
<script type="module" defer src="/assets/sign-in-D4ZHH2NG.js"></script>
<link rel="modulepreload" href="/assets/common-TTT2FG2F.js">
<link rel="modulepreload" href="/assets/common-7IP3TE5K.js">
<link rel="modulepreload" href="/assets/common-TOCFDGS3.js">
<link rel="modulepreload" href="/assets/common-YNUYCDLH.js">
<link rel="modulepreload" href="/assets/common-JTL7OJE5.js">
<% end %>
<!-- BUNDLE_END -->